/* ================================= 
  Main styles
==================================== */

* {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: .8em;
	padding: 0;
	border: 0;
}

body {
	font-family: 'Varela Round', arial, sans-serif;
	background-color: #D6C25C;
	min-width: 0;
}

header h1 {
	font-family: 'introrustg-base2line', "Copperplate Gothic Bold", "arial black", serif;
} 

header h3 {
	font-family: "ar destine", courier, sans-serif;
}

header {
	margin: auto;
	padding: 1em;
	text-align: center;	
}

header img {
	border-radius: 50%;
	margin: .5em;
}

header ul {
	list-style-type: none;
	display: inline-block;
}

header ul a {
	text-decoration: none;
	display: block;
	padding: 5px;
	margin: auto;
	color: white; /* #E5E6D1; */
	background: #3E28A1;
	text-align: center;
	opacity: .7;
}

header ul a:hover {
	background: black;
}

.main-body {
	background-color: #3E28A1;
	background-image: url(../img/bkgd.jpg);
	background-size: cover;
	opacity: .7;
	border-top: .4em #3E28A1 solid; 
	border-bottom: .4em #3E28A1 solid;
	padding: 2em;
	color: white;
	min-height: 35em;
	position: relative;
}

.main-body p {
	padding: 1em;
}

footer {
	margin-top: 20px;
	padding: 1em;
}

/* ================================= 
  Home page styles
==================================== */

.quotes {
	position: absolute;
	bottom: 1em;
	font-size: 2em;
}

/* ================================= 
  Resume page styles
==================================== */

#resumeBody {
	background-color: #F7F2DC;
	color: black;
	border: 4px black solid;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.heading {
	margin-left: 1em;
	font-family: "Copperplate Gothic Bold", "Times New Roman", serif;
	text-align: center;
	margin: .2em;
	padding: 0;
}

.titles {
	margin: .4em;
	margin-left: 1em;
}

/* ================================= 
  Links page styles
==================================== */
	
.main-body button {
	background: gold;
	color: blue;
	padding: 5px;
	border: 2px black solid;
	border-radius: 8px;
	margin: .5em;
}

.main-body button:hover {
	background: black;
	color: gold;
}

#linksBody {
	float: right;
	background-color: purple;
	color: white;
	border: 4px black solid;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-right: 5em;
	min-width: 50%;
	min-height: 15em;
}

#linksBody a {
	margin: 1em;
	color: #C7E4ED;
	padding-bottom: 1em;
}

/* ================================= 
  Contact page styles
==================================== */
input[type=text],
textarea {
	width: 60%;
	padding: 15px;
	border: 2px solid black;
	border-radius: 5px;
	box-sizing: border-box;
	margin-bottom: 15px;
	resize: vertical;
	color: black;
}

input[type=submit] {
	padding: 5px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	background: red;
}
	



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	header {
		min-height: 12em;
	}
	
	header img {
		float: left;
	}
	
	header h1,
	header h3 {
		text-align: left;
	}
	
	nav {
		float: right;
	}
	
	#home,
	#resume,
	#portfolio,
	#links,
	#contact {
		float: left;
		margin: 10px;
	}
	
}

@media (max-width: 768px) {
	.main-body {
		padding: .5em;
		min-height: 38em;
	}
	
	#linksBody {
		margin-right: 1em;
		max-width: 60%;
	}
}

@media (max-width: 475px) {
	#linksBody {
		margin-right: 5px;
		max-width: 60%;
	}
	
	input[type=text],
	textarea {
		width: 100%;
	}
}



